<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="style.css" rel="stylesheet">

   
   <script src="angular/angular.js"></script>
 <!--  <script src="angular/angular-resource.min.js"></script> -->
    <script src="app.js"></script>
  </head>
  <body>

 <form ng-submit="reload()" >

	<div ng-app="payment" ng-controller="paymentController">
		
		<button type="submit" ng-model="balance" ng-click=>Reload</button> 
		   
   </div>
   
  </form>
</body>